body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #700585;
    box-sizing: border-box;
    color:white
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 18   px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-item {
    width: 100%;
    margin-bottom: 15px;
}

.col-5 {
    width: calc(50% - 10px);
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.textarea {
    height: 100px;
}

.btn-enviar {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-enviar:hover {
    background-color: #0056b3;
}
