/* Remove o padding e a margem padrão de html e body.
   Define a cor de fundo como roxo e a cor do texto como branco.
   Define uma lista de fontes a serem usadas. */
   html,
   body {
     padding: 0;
     margin: 0;
     color: white;
     background-color: #800080;
     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
       Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   }
   .top-bar {
    position: fixed; /* Fixa a barra no topo da página */
    top: 0;
    left: 0;
    right: 0;
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    background-color: #503a48; /* Cor de fundo da barra */
    padding: 5px 20px;
    display: flex;
    justify-content: space-between; /* Espaça os elementos dentro da barra */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    z-index: 1000; /* Garante que a barra esteja sobre outros elementos */
  }

  @media (max-width: 768px) {
    .top-bar {
      height: 3rem; /* Define uma altura específica para telas menores */
    }
  }
  
  @media (max-width: 480px) {
    .top-bar {
      height: 2.5rem; /* Define uma altura menor para telas muito pequenas */
    }

  }
   .nav-bar {
    background-color: #503a48; /* Cor de fundo da barra */
    background-color: #0a0a0a;
     padding: 10px 10px;
     display: flex;
     justify-content: space-between; /* Espaço dos elementos */
     align-items: center;
   }
   
   .logo {
     height: 80px; /* Ajuste o tamanho conforme necessário */
   }
   
   .header {
     display: flex;
     align-items: center; /* Alinha verticalmente os itens ao centro */
     padding: 10px; /* Adiciona algum padding para espaçamento */
   }
   
   p {
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     text-align: center;
     font-size: 18px;
     color: #ffffff;
   }
   
   .custom-btn {
     width: 130px;
     height: 40px;
     color: #fff;
     border-radius: 5px;
     padding: 10px 25px;
     font-family: 'Lato', sans-serif;
     font-weight: 500;
     background: transparent;
     cursor: pointer;
     transition: all 0.5s ease;
     position: relative;
     display: inline-block;
     box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
                 7px 7px 20px 0px rgb(0, 0, 0,.1),
                 4px 4px 5px 0px rgba(0,0,0,.1);
     outline: none;
   }
   
   a {
     color: inherit;
     text-decoration: none;
   }
   
   * {
     box-sizing: border-box;
   }
   
   main {
     min-height: 100vh;
     padding: 4rem 2rem;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   .title {
     margin: 0;
     line-height: 1.15;
     font-size: 2rem;
   }
   
   .subtitle {
     margin: 0;
     line-height: 1.15;
     font-size: 3rem;
   }
   
   .title,
   .description {
     text-align: center;
   }
   
   .description {
    margin: 4rem 0; /* Define uma margem superior e inferior de 4rem, mantendo as laterais com 0 */
    line-height: 1.5; /* Define a altura da linha como 1,5 vezes o tamanho da fonte, para melhorar a legibilidade */
    font-size: 1.5rem; /* Define o tamanho da fonte para 1.5rem, que é relativo ao tamanho da fonte base */
  }
  
  @media (max-width: 768px) {
    .description {
      margin: 2rem 0; /* Reduz a margem superior e inferior para 2rem em telas com largura até 768px */
      font-size: 1.25rem; /* Reduz o tamanho da fonte para 1.25rem em telas com largura até 768px */
    }
  }
  
  @media (max-width: 480px) {
    .description {
      margin: 1rem 0; /* Reduz ainda mais a margem superior e inferior para 1rem em telas com largura até 480px */
      font-size: 1rem; /* Reduz o tamanho da fonte para 1rem em telas com largura até 480px */
    }
  }
  
   
   .code {
     background: #fafafa;
     border-radius: 5px;
     padding: 0.75rem;
     font-size: 1.1rem;
     font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
       Bitstream Vera Sans Mono, Courier New, monospace;
   }
   
   .grid {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     max-width: 800px;
   }
   
   .card {
     margin: 1rem;
     padding: 1.5rem;
     text-align: left;
     color: inherit;
     text-decoration: none;
     border: 1px solid #eaeaea;
     border-radius: 10px;
     transition: color 0.15s ease, border-color 0.15s ease;
     max-width: 300px;
     background-color: rgba(128, 128, 128, 0.4); /* Fundo cinza semi-transparente */
     box-shadow: 10px 15px 19px rgba(0, 0, 0, 0.3); /* Sombra no fundo */
   }
   
   .card:hover,
   .card:focus,
   .card:active {
     color: #0070f3;
     border-color: #0070f3;
   }
   
   .card h2 {
     margin: 0 0 1rem 0;
     font-size: 1.5rem;
   }
   
   .card p {
     margin: 0;
     font-size: 1.25rem;
     line-height: 1.5;
   }
   
   @media (max-width: 600px) {
     .grid {
       width: 100%;
       flex-direction: column;
     }
   }
   
   /* Estilo do botão fixo no topo */
   .button-container {
     position: fixed; /* Fixar no topo da página */
     top: 10px; /* Colocado no topo */
     right: 0; /* Alinhado à direita */
     padding: 10px; /* Adiciona algum padding ao redor */
     z-index: 1000; /* Mantém o botão acima de outros elementos */
     background-color: none; /* Cor de fundo para destacar */
   }
   
   /* Estilo do botão dentro do contêiner fixo */
   .custom-btn.btn-1 {
     width: 80px; /* largura */
     height: 30px; /* Ajuste conforme necessário */
     color: #ffffff;
     border-radius: 10px;/*Arredondamento*/
     padding: 5px 10px; /* Adiciona padding interno */
     background-color: transparent; /* Fundo transparente */
     border: none; /* Remove a borda */
     font-family: 'Lato', sans-serif;
     font-weight: bold; /* Aumenta a espessura da fonte */
     cursor: pointer; /* Cursor em forma de mãozinha */
     transition: all 0.3s ease; /* Transição suave */
   }
   
   .custom-btn.btn-1:hover {
    color: #700585; /* Cor do texto quando o botão é hover */
  }
  
  .custom-btn.btn-1:active {
    top: 2px; /* Efeito de botão pressionado */
  }
   
   .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
   
   .custom-btn2 {
     display: inline-flex; /* Altera display para flex */
     align-items: center; /* Centraliza verticalmente o conteúdo */
     padding: 3px;
     color: #ffffff;
     background-color: none; /* Cor típica do Instagram */
     border: none; /* Remove as bordas */
     border-radius: 5px;
     text-decoration: none; /* Remove sublinhado */
     font-weight: bold;
     transition: background-color 0.3s ease;
   }
   
   .custom-btn2:hover {
     background-color: none; /* Cor mais escura para hover */
   }
   
   .custom-btn2:active {
     background-color: #521697; /* Cor mais escura para quando o botão é clicado */
   }
   
   .button-container-footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
  }

   .custom-btn2 .icon {
    width: 25px; /* Aumenta o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Adiciona espaço entre a imagem e o texto */
   }

   .small-text {
    font-size: 0.75rem; /* Define uma fonte pequena */
    margin-top: 10px; /* Adiciona um pequeno espaço acima do texto */
  }